.list-item {
  position: absolute !important;
  top: 4px !important;
  left: 4px !important;
}

.list-item-right {
  position: absolute !important;
  top: 4px !important;
  right: 4px !important;
}

.multiline-list-item {
  position: absolute !important;
  top: 16px !important;
}

.multiline-list-item-right {
  position: absolute !important;
  top: 14px !important;
}

.index-left-1 {
  left: 4px !important;
}

.index-left-2 {
  left: 30px !important;
}

.index-left-3 {
  left: 60px !important;
}

.index-left-4 {
  left: 90px !important;
}

.index-left-5 {
  left: 120px !important;
}

.index-right-1 {
  right: 4px !important;
}

.index-right-2 {
  right: 30px !important;
}

.index-right-3 {
  right: 60px !important;
}

.index-right-4 {
  right: 90px !important;
}

.index-right-5 {
  right: 120px !important;
}
