.mdi {
  color: #717171 !important;
}

.mdi-light {
  color: #dadada !important;
}

// this is default mdi size, u don't have to add it,
// its here just for reference
.mdi-size-default {
  font-size: 16px;
}

.mdi-size-xxl {
  font-size: 26px;
}

.mdi-size-xl {
  font-size: 22px;
}

.mdi-size-l {
  font-size: 20px;
}

.mdi-color-red {
  color: #ff5722 !important;
}

.mdi-color-green {
  color: #4caf50 !important;
}
