/**
* Dialog classes overwrite in order of nesting
 */

// container
.className {}

// overlay
.overlayClassName {}

// title/header
.titleClassName {
  background: $accentColor;
}

// body
.bodyClassName {}

// footer/actions
.actionsContainerClassName {
  border: 1px solid $dividerColor !important;
  border-width: 1px 0px 0px 0px !important;;
}

// idk
.contentClassName {}




